@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    /* font-family: Arial, Helvetica, sans-serif; */
}

html {
    scroll-behavior: smooth;
}

[id='about'],
[id='skills'],
[id='experiences'],
[id='educations'] {
    scroll-margin-top: 68px;
}

.prose img {
    max-width: 100% !important;
    height: auto !important;
    max-height: 300px !important;
    object-fit: contain !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

/* Force the scrollbar to stay visible in Webkit (Chrome, Safari, Edge) */
.overflow-x-scroll::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar {
    height: 8px;
    display: block !important; /* Force display */
}

/* 1. This is the key: Give the track a background color */
.overflow-x-scroll::-webkit-scrollbar-track,
.overflow-x-auto::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

/* 2. Make the 'thumb' (the part you grab) very obvious */
.overflow-x-scroll::-webkit-scrollbar-thumb,
.overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
    border: 2px solid #f1f1f1; /* Creates a little 'padding' around the thumb */
}

/* 3. Darken on hover so the user knows it's interactive */
.overflow-x-scroll::-webkit-scrollbar-thumb:hover,
.overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Vertical scrollbar */
.overflow-y-scroll::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar {
    width: 8px;
    display: block !important;
}

.overflow-y-scroll::-webkit-scrollbar-track,
.overflow-y-auto::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.overflow-y-scroll::-webkit-scrollbar-thumb,
.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.overflow-y-scroll::-webkit-scrollbar-thumb:hover,
.overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}